<div class="sub-header">
    {{navigation}}
    <form action="/" id="search-form">
        <input id="search-input" placeholder="Search blog…">
        <div id="search-results"></div>
    </form>
</div>