time {
  font-family: "IBM Plex Mono", monospace;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: -0.186667px;
  color: rgba(99, 102, 109, 0.8); }

figcaption {
  width: 100%;
  padding: 15px 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #EAECEF; }

pre {
  overflow-x: auto;
  margin: 30px 0;
  padding: 20px;
  max-width: 100%;
  border: 1px solid #000000;
  color: #ffffff;
  background: #000000;
  border-radius: 5px; }

hr {
  margin: 50px 0; }

iframe[src*="https://www.youtube.com/"] {
  height: calc(883px / 1.77777778) !important;
  width: 100% !important; }

blockquote {
  line-height: 36px;
  font-size: 24px;
  color: rgba(60, 64, 73, 0.8);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  position: relative;
  margin-bottom: 30px; }
  blockquote:before {
    content: '';
    width: 26px;
    height: 25px;
    background-image: url(../img/quotes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -5px;
    left: -15px; }
  blockquote p {
    line-height: 36px;
    font-size: 24px;
    color: rgba(60, 64, 73, 0.8);
    font-family: "Manrope", sans-serif;
    font-weight: 500; }

.tags {
  position: relative;
  z-index: 5;
  color: rgba(99, 102, 109, 0.8); }
  .tags a {
    margin-right: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    line-height: 19px;
    font-size: 15px;
    letter-spacing: -0.2px;
    color: #4360DF;
    text-transform: capitalize; }
    .tags a:hover {
      color: #2D48BE; }

.sub-header {
  border-top: 1px solid #EAECEF;
  border-bottom: 1px solid #EAECEF;
  padding: 0 40px;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: space-between;
  overflow: auto; }
  .sub-header nav {
    white-space: nowrap; }
    .sub-header nav ul {
      list-style-type: none;
      margin: 0 0 0 -20px;
      padding: 0;
      width: 100%;
      display: flex; }
      .sub-header nav ul li {
        margin: 0 10px;
        display: flex; }
        .sub-header nav ul li.nav-current a {
          color: #4360DF; }
        .sub-header nav ul li a {
          font-size: 14px;
          color: #000000;
          padding: 16px 10px;
          font-weight: 600; }
          .sub-header nav ul li a:hover {
            color: #4360DF; }

#search-form {
  margin-left: auto;
  position: relative;
  height: 60px;
  z-index: 9; }
  #search-form #search-input {
    border: none;
    background: transparent;
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    padding: 20px 0 20px 40px;
    outline: none;
    background-image: url("../img/search.svg");
    background-position: center left;
    background-repeat: no-repeat;
    width: 130px;
    height: 100%; }
    #search-form #search-input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.6); }
    #search-form #search-input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.6); }
    #search-form #search-input::placeholder {
      color: rgba(0, 0, 0, 0.6); }
  #search-form.inactive #search-results {
    display: none; }
  #search-form #search-results {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    width: 320px;
    border-radius: 4px;
    max-height: 70vh;
    overflow: auto; }
    #search-form #search-results a {
      color: #000000;
      display: block;
      line-height: 18px;
      font-size: 14px;
      padding: 10px;
      border-top: 1px solid #EBEBEB;
      font-weight: 500; }
      #search-form #search-results a:hover {
        color: #4360DF; }
      #search-form #search-results a:first-child {
        border: none; }

.post-intro {
  margin: 90px 0 35px; }
  .post-intro .inner .post-meta {
    display: flex;
    align-items: center; }
    .post-intro .inner .post-meta time:before {
      content: ' - '; }
    .post-intro .inner .post-meta .tags a {
      margin: 0 8px 0 0; }
  .post-intro .inner h1 {
    margin-bottom: 10px; }
  .post-intro .inner img {
    margin-top: 90px;
    max-width: 100%; }
  .post-intro .inner .authors {
    margin-right: 3px; }
    .post-intro .inner .authors li {
      margin: 0; }
      .post-intro .inner .authors li:last-child a span:after {
        display: none; }
      .post-intro .inner .authors li a {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        line-height: 19px;
        font-size: 15px;
        letter-spacing: -0.2px;
        color: #4360DF;
        text-transform: capitalize;
        display: flex;
        margin-right: 3px; }
        .post-intro .inner .authors li a span:after {
          content: ', '; }
        .post-intro .inner .authors li a:hover {
          color: #2D48BE; }

.post-content {
  margin-bottom: 70px; }
  .post-content .editor-content {
    position: relative; }
    .post-content .editor-content h1, .post-content .editor-content h2, .post-content .editor-content h3, .post-content .editor-content h4 {
      margin-top: 100px; }
    .post-content .editor-content p {
      line-height: 24px;
      font-size: 16px;
      color: #090909;
      margin-bottom: 30px; }
    .post-content .editor-content ul, .post-content .editor-content ol {
      margin-bottom: 30px;
      padding-left: 20px; }
      .post-content .editor-content ul li, .post-content .editor-content ol li {
        line-height: 24px;
        font-size: 16px;
        color: #090909;
        margin-bottom: 10px; }
    .post-content .editor-content .share ul {
      margin-bottom: 0; }
    .post-content .editor-content a {
      color: #4360DF;
      font-weight: 500;
      text-decoration: underline; }
      .post-content .editor-content a:hover {
        color: #2D48BE; }
    .post-content .editor-content strong, .post-content .editor-content b {
      font-weight: 700; }
    .post-content .editor-content img {
      display: block;
      margin: 30px auto;
      max-width: 100%;
      height: auto; }
    .post-content .editor-content .kg-card {
      margin: 30px 0 50px; }
    .post-content .editor-content .kg-embed-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
    .post-content .editor-content .kg-image {
      margin: 0;
      max-width: 100%; }
    .post-content .editor-content .kg-width-wide {
      position: relative;
      width: 75vw;
      min-width: 100%;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      transform: translateX(calc(50vw - 50%)); }
    .post-content .editor-content .kg-width-full {
      position: relative;
      width: 94vw;
      min-width: 100%;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      transform: translateX(calc(50vw - 50%)); }
    .post-content .editor-content .kg-width-full figcaption {
      padding-left: 0;
      padding-right: 0;
      text-align: left; }
    .post-content .editor-content .kg-gallery-container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 75vw;
      min-width: 100%;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      transform: translateX(calc(50vw - 50%)); }
    .post-content .editor-content .kg-gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .post-content .editor-content .kg-gallery-image img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%; }
    .post-content .editor-content .kg-gallery-row:not(:first-of-type) {
      margin: 0.75em 0 0 0; }
    .post-content .editor-content .kg-gallery-image:not(:first-of-type) {
      margin: 0 0 0 0.75em; }
    .post-content .editor-content .kg-gallery-card + .kg-image-card.kg-width-wide,
    .post-content .editor-content .kg-gallery-card + .kg-gallery-card,
    .post-content .editor-content .kg-image-card.kg-width-wide + .kg-gallery-card,
    .post-content .editor-content .kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
      margin-top: calc( -7vw + 0.75em); }

.share {
  position: absolute;
  top: 0;
  margin-left: -100px; }
  .share ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .share ul a {
      width: 40px;
      height: 40px;
      border: 1px solid #8d8d8d;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }

.loop {
  display: flex;
  flex-wrap: wrap; }
  .loop.loop-first .post {
    width: 100%; }
    .loop.loop-first .post .post-inner-content {
      display: flex;
      flex-direction: row; }
      .loop.loop-first .post .post-inner-content h2 {
        font-size: 28px;
        line-height: 38px; }
      .loop.loop-first .post .post-inner-content .post-card-image-link {
        width: calc(66.66% - 10px); }
      .loop.loop-first .post .post-inner-content .inner {
        width: calc(33.33% + 10px);
        display: flex;
        flex-direction: column; }
      .loop.loop-first .post .post-inner-content img {
        max-height: 1000px; }
  .loop .post {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 15px 30px;
    border-radius: 4px;
    overflow: hidden;
    width: calc(33.33% - 30px);
    position: relative;
    transition: all .3s ease; }
    .loop .post .post-inner-content {
      height: 100%;
      display: flex;
      flex-direction: column; }
    .loop .post:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px); }
    .loop .post img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 250px; }
    .loop .post .authors img {
      max-height: 36px; }
    .loop .post .inner {
      padding: 20px;
      display: flex;
      flex-direction: column;
      flex: 1; }
      .loop .post .inner p {
        margin-bottom: 50px; }
      .loop .post .inner h2 {
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 10px; }
        .loop .post .inner h2 a {
          color: #000000; }
          .loop .post .inner h2 a:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0; }
      .loop .post .inner .post-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto; }

.blog-intro {
  padding: 90px 0; }
  .blog-intro h1 {
    margin-bottom: 10px; }
  .blog-intro p {
    margin-bottom: 0; }
  .blog-intro .authors {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; }
    .blog-intro .authors img {
      max-width: 100px;
      max-height: 100px; }

.authors {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .authors li {
    margin-right: -7px; }
    .authors li a {
      position: relative;
      z-index: 5;
      display: block; }
      .authors li a img {
        max-width: 36px;
        max-height: 36px;
        padding: 2px;
        background: #ffffff;
        border-radius: 50%; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0 100px; }
  .pagination .end {
    opacity: .3;
    pointer-events: none; }

.related-posts {
  background: #EAECEF;
  padding: 100px 0 70px; }
  .related-posts h3 {
    margin-left: 15px; }

.home-template:not(.end-posts) .loop-grid .post:nth-last-child(-n+2) {
  display: none; }

@media screen and (max-width: 1199px) {
  .sub-header {
    padding: 0 25px 0 20px; }
    .sub-header nav ul li {
      margin-right: 0; }
      .sub-header nav ul li:last-child {
        margin-right: 15px; }
      .sub-header nav ul li a {
        padding: 10px; }
    .sub-header #search-form {
      display: none; }
  .blog-intro {
    padding: 60px 0; } }

@media screen and (max-width: 991px) {
  .loop.loop-first .post .post-inner-content {
    flex-direction: column; }
    .loop.loop-first .post .post-inner-content .post-card-image-link {
      width: 100%; }
    .loop.loop-first .post .post-inner-content .inner {
      width: 100%; }
  .loop .post {
    width: calc(50% - 30px); } }

@media screen and (max-width: 767px) {
  .loop .post {
    width: 100%;
    margin: 0 0 20px 0; } }
